/*POLICES*/
@font-face {
    font-family:'Century Gothic';
    src: url("../police/gothic.ttf");
}
@font-face {
    font-family: 'Optima';
    src: url("../police/unicode.optima.ttf");
}
@font-face {
    font-family: 'gillsans';
    src: url("../police/gillsans.ttf");
}
/*FIN POLICES */


/*BODY*/
body{
    margin:auto;
    padding:auto;
    background: linear-gradient(lightskyblue, white);
}

/*FIN BODY*/

/*LE HEADER*/
header{
    height: 25%;
    margin-bottom: 0;
}
#titre_principal{
    display: flex;
    justify-content: center;
}
.logoFlottant{
    width:12em;
    height: 100%;
}
/*FIN DU HEADER*/

/*SECTION*/
section {
    text-align:center;
    margin-bottom: 5%;
    display:flex;
    justify-content: center;
}
#container{
    width:30%;
    font-family: "Optima";
}
#container h1{
    margin:auto;
    padding-bottom: 10px;
    font-size: 2.5em;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Set a style for all buttons */
section input[type=submit] {
    background-color: lightskyblue;
    color: white;
    padding: 14px 18px;
    margin: 8px 0;
    border: 1px solid lightskyblue;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-family: "Century Gothic";
    font-size: 1em;
}

input[type=submit]:hover {
    background-color: white;
    color: #ff5757;
}

input[type=submit]{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
section input[type=submit]:hover{
    background-color: white;
    color: dodgerblue;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

label{
    float:left;
}

/*FOOTER*/
footer{
    background-color: rgb(26,26,26);
    color: white;
    font-family: "gillsans";

}

footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:white;
    text-decoration: underline;
}

footer #block1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

footer #block1 #gauche{
    width:25%;
    /*padding-left:5%;*/
    margin-left: 10%;
    text-align: left;
    font-size: 1em;
}
footer #block1 #droite{
    width:25%;
    /*padding-left: 5%;*/
    text-align: left;
    font-size: 1em;
}

footer #block1 #centreg{
    width:25%;
    /*padding-left: 5%;*/
    text-align: left;
    font-size: 1em;
}

footer #block1 #centred{
    width:25%;
    /*padding-left: 5%;*/
}
.reseaux{
    width: 40px;
    margin: 2% 5% 0 0 ;

}

.reseaux {
    -webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease ;
    -ms-transition:all 0.5s ease ;
    -o-transition:all 0.5s ease ;
    transition: all 0.5s ease;
}

.reseaux:hover {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform: scale(1.15);
}

footer h1{
    font-size: 1.1em;
    font-weight: normal;
}

footer #block2{
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-left: 10%;
}

footer #news{
    padding-left: 10%;
}

footer #block2 input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

footer label{
    width: 25%;
}

#block2 label{
    padding-top: 6px;
}

footer input[type=submit] {
    background-color: lightskyblue;
    color: white;
    margin: 8px 0;
    border: 1px solid lightskyblue;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Century Gothic";
    font-size: 90%;
}

#newsletter{
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-left: 2%;
}

#subscribe{
    width: 120px;
    border-radius: 0 5px 5px 0;
    height: 34px;
}
hr{
    width: 50%;
    margin-inline-start: 0 ;
}

footer > #largeurPage{
    display: none;
}

@media (max-width: 800px) {

    footer #block1{
        display: flex;
        justify-content: left;
        flex-direction: column;
        margin-left: 10%;
    }

    footer #block1 #gauche, footer #block1 #centred, footer #block1 #centreg, footer #block1 #droite{
        width: 100%;
        text-align: left;
    }

    footer #block1 #gauche{
        margin:0;
    }


    h1:hover{
        color:grey;
    }

    footer > #block1 > #gauche > .text1{
        display: none;
    }

    footer > #block1 > #centreg > .text2{
        display: none;
    }

    footer #block2{
        display: flex;
        flex-direction: column;
        padding-right: 10%;
    }

    footer #block2 input[type=email]{
        width: 200px;
    }

    footer #block2 label{
        width: 100%;
    }
    .reseaux{
        margin: 0;
    }

    footer #newsletter{
        padding-left: 0%;

    }
}

/*FIN FOOTER*/
